


<div class="container">
  
  <!-- Modal -->
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog modal-lg full-screen"  style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
    
      <!-- Modal content-->
      <div class="modal-content">
       <!-- Modal header-->
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Registro de proyecto </h4>
            

        </div>
        <!-- Modal body-->
        <div class="modal-body">
          <div class='panel panel-primary dialog-panel'>
      
      <div class='panel-body'>
        <form class='form-horizontal' role='form'>


 
  <div class="row">
   
     </div>
     
     <div class="panel panel-primary">
      <div class="panel-heading"><center>Objetivos</center></div>
      <div class="panel-body">
      <div class='form-group'>

     
         
            <h4 class="center">Escriba  su Objetivo general aqui:  (use las negritas solo para reformular) </h4>
            
                <textarea class="textarea">
                  
                </textarea>
                 
             <h4 class="center">Objetivos especificos </h4>

             <textarea class="textarea" >
                  
                </textarea>

                <textarea class="textarea" >
                  
                </textarea>

                <textarea class="textarea" >
                  
                </textarea>

                <textarea class="textarea" >
                  
                </textarea>

                <textarea class="textarea" >
                  
                </textarea>

                <textarea class="textarea" >
                  
                </textarea>
            
            </div>
     </div>
      


         
    </div>

    
        </form>
      </div>
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" type='submit'>Guardar <span class="glyphicon glyphicon-floppy-disk"></span></button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal8">siguiente<span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
      </div>
      
    </div>
  </div>
  </div>







