<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Registro de proyecto </h4>
            <ul class="nav nav-tabs">
            
              <li ><a data-dismiss="modal" data-toggle="modal" href="#myModal">Datos del proyecto</a></li>
              <li><a data-dismiss="modal" data-toggle="modal" href="#myModal2">Datos del Responsable o Tutor</a></li>
              <li><a data-dismiss="modal" data-toggle="modal" href="#myModal3">Datos del Coresponsable </a></li>
              <li><a data-dismiss="modal" data-toggle="modal" href="#myModal4">Resumen del proyecto</a></li>
            </ul>

</div>
