
<!-- Incluya los javascripts propios -->
<script type="text/javascript" src="js/ejemplo13/ejemplo13.js"></script>
<!-- Incluya hojas de estilos propios -->
<link rel="stylesheet" type="text/css" href="css/micss.css">

 
 <div class="col-xs-6 col-md-4">
 <div id="tree_el"></div>
 </div>

 <div class="col-xs-12 col-md-8" align="right">  <i> <img src="images/fondo.png" width="1200px" height="350px" alt="logo"></i> </div>