
<!DOCTYPE html>


  <link rel="stylesheet" href="css/bootstrap-iso.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/catalogo.js"></script>

</head>

  
 

<body>


<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>



<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<html >
  
   
<!-- Inline CSS based on choices in "Settings" tab -->

   

  <div class='container'>

    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
        <h5 ><center>Generar Credencial</center></h5>
      </div>
      <div class='panel-body'>
        <form class='form-horizontal' role='form' >


 
  <div class='form-group'>
          <center><h4></h4></center>
          
           
          </div>

         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_cedula'>Seleccione el proyecto</label>
            <div class='col-md-8'>
             
              <div class='col-md-2'>
                <div class='form-group internal'>
                  <div id="bot"></div>
                </div>
              </div>
            </div>
          </div>

         
             <div class='form-group'>
          <center><h4> Datos del proyecto</h4></center>
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_equipment'>Código del proyecto</label>
            <div class='col-md-8'>
              <div class='col-md-3'>
                <div class='form-group internal'>
                  <input class='form-control col-md-8' id='id_codigo' type='text'>
                </div>
              </div>

              
            </div>
          </div>
          </div>
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Titulo</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <textarea class='form-control' id='id_email' placeholder='Titulo' type='text' size="50x10"></textarea>
                </div>
              </div>
             
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Cédula del responsable</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control col-md-8' id='id_cedula' type='text'>
                </div>
              </div>
             
            </div>
          </div>
         
         <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Nombre del responsable</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control col-md-8' id='id_nombre' type='text'>
                </div>
              </div>
             
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_unidad'>Área de investigación</label>
            <div class='col-md-8'>
              <div class='col-md-4'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_equipment'>
                    <option>Investigación de Operaciones</optio>
                    <option>Matemática</option>
                    <option>Inteligencia artificial</option>
                    <option>Redes</option>
                    <option>Estadística</option>
                    <option>Informática</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
         
          
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_equipment'>Monto total estimado para el proyecto</label>
            <div class='col-md-8'>
              <div class='col-md-5'>
                <div class='form-group internal'>
                  <input class='form-control col-md-8' id='id_monto'  type='number' width="30px">
                </div>
      
            
              </div>

              <div class='form-group'>
            <label class='control-label col-md-2' for='id_categoria'>Categoria</label>
            <div class='col-md-4'>
              <div class='col-md-3'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_equipment'>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                  </select>
                </div>
              </div>
           
          </div>
          </div>
          </div>
          </div>
          

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_unidad'>Duracion estimada</label>
            <div class='col-md-8'>
              <div class='col-md-2'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_equipment'>
                    <option>1 Año</option>
                    <option>2 Años</option>
                    <option>3 Años</option>
                    <option>4 Años</option>
                    <option>5 Años</option>
                   
                  </select>
                </div>
              </div>
            </div>
          </div>
         

         <div class='form-group'>
          
            <div class='col-md-5 col-md-offset-4' >
              <button type="button" class="btn btn-primary" type='submit'> Generar Credencial<span class="glyphicon glyphicon-refresh"></span></button>
              <button type="button" class="btn btn-primary" type='submit'>Descargar <span class="glyphicon glyphicon-download-alt"></span></button>
               <button type="button" class="btn btn-primary" type='submit'>Enviar <span class="glyphicon glyphicon-envelope"></span></button>
            
          </div>
          </div>
         
         
          
        </form>
      </div>
    </div>
  </div>
</body>
    
        <script src="js/index.js"></script>

    <script src="docs/js/jquery.min.js"></script>
    <script src="docs/js/bootstrap.min.js"></script>
    <script src="docs/js/highlight.js"></script>
    <script src="dist/js/bootstrap-switch.js"></script>
    <script src="docs/js/main.js"></script>

  
</html>
