<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/estilo1.css">
	<!--<link rel="stylesheet" href="css/normalize.css"> -->
	<title>Lista de Tareas</title>
</head>
<body> 


<div class='container'>
	<div class="principal">

		<div class="wrap">
			<form class="formulario" action="">
				<input type="text" id="tareaInput" placeholder="Agrega tu tarea">
				<input type="button" class="boton" id="btn-agregar" value="Agregar Tarea">
			</form>
		</div>
	</div>

	<div class="tareas"> 
		<div class="wrap">
			<ul class="lista" id="lista">

				<li><a >Buscar Evaluadores para el proyecto de Ainhoa Perez: "Sistema integrado de reconocimiento facial..." </a></li>
				<li><a > Revision de Constancias</a></li>
				<li><a >Reunion de Consejo, Dia 26/07/2016</a></li>
			

			</ul>
		</div>
	</div>
	</div>
	<script src="js/main2.js"></script>

</body>

</html>