
<!-- Incluya los javascripts propios -->
<script type="text/javascript" src="js/ejemplo13/ejemplo13.js"></script>
<!-- Incluya hojas de estilos propios -->
<link rel="stylesheet" type="text/css" href="css/micss.css">

 <h1>Introducci&oacute;n a Extjs 6.0</h1>
 <div id="myDiv">Ejemplo de Manejo Ext.treePanel</div>
 <div id="tree_el"></div>
