 <div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display: none;"></div>
          <%= render :file => "evaluar_investigador/index.html.erb" %>
          
        </div>

        <div class="modal-footer">
       
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->